.question-title{
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  /* padding-left: 10px;
  padding-right: 10px; */
}
.q-title{
  border-bottom: 3px solid orange;
 
}
.qs-title{
border-right: 5px solid orange;
border-left: 5px solid orange;
border-radius: 20px;
padding: 0px 10px;
}

.q-info{
  margin-bottom: 50px;
  color: gainsboro;
}