.header-title{
  font-size: 25px;
  margin-left: 10%;
  margin-bottom: 20px;
}
.main-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.category-container{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}


.side-info{
  background-color: orange;
  padding: 20px;

}

@media only screen and (max-width: 578px) {
  .main-container{
   
    grid-template-columns: 1fr;
  }
  .category-container{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:579px) and (max-width: 769px){
  .main-container{
   
    grid-template-columns: 1fr;
  }
  .category-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width:770px) and (max-width: 1000px){
  .main-container{
   
    /* grid-template-columns: 1fr; */
  }
  .category-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
