.nav-container{
  border-bottom: 1px solid rgba(243, 180, 157, 0.392);
}
.nab-wrapper{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid coral; */

}
.side-name{
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  position: absolute;
  top: 15px;
  left: 240px;
}
.logo img{
  width: 80px;
  position: relative;
  /* display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* flex-direction: column; */
}

.manu ul{
 list-style: none;
}
.manu ul li{
  display: inline-block;
  margin-left: 50px;
}
.manu ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;

}
.manu ul li a:hover{
  color: orange;
}
.home{
  color: orange !important;
}
@media screen and (max-width: 700px){
  .manu{
    display: none;
  }
  
}