.nav-container{
  border-bottom: 1px solid rgba(243, 180, 157, 0.392);
}
.nab-wrapper{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid coral; */

}
.side-name{
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  position: absolute;
  top: 15px;
  left: 240px;
}
.logo-text{
  font-size: 30px;
  padding: 20px 0px;
}
.l-e{
  color: orange;
  font-size: 40px;
  font-weight: bold;
}
.l-z{
  color: orange;
  font-size: 40px;
  font-weight: bold;
}
.dum{
  font-size: 40px;
  color: orange;
  margin-right: 5px;
}
.manu ul{
 list-style: none;
 padding: 12px;
}
.manu ul li{
  display: inline-block;
  margin-left: 50px;
}
.manu ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;

}
.manu ul li a:hover{
  color: orange;
}
.home{
  color: orange !important;
}
@media screen and (max-width: 700px){
  .manu{
    display: none;
  }
  
}

@media screen and (min-width:701px) and (max-width: 992px) {
  
.manu ul li{
margin-left: 15px;
}
.logo-text{
  font-size: 25px;
}
  
}